<section>
  <div class="flexrow">
    <div class="grid grid-3col flex-group-center">
      <div class="resource-label grid-span-3 align-center">{{localize "KNAVE2E.EssenceTags"}}</div>
      <input class="resource-label grid-span-3 align-center" type="text" name="system.essences" value="{{system.essences}}" placeholder="Fire, Water, Air, etc." />
    </div>
  </div>

  <br>

  <ol class="items-list">
    <li class="knave-item grid grid-12col items-header">
      <div class="resource-label item-name-header grid-span-5">{{localize "KNAVE2E.SpellName"}}</div>
      <div class="resource-label item-name-header grid-span-1">{{localize "KNAVE2E.Tier"}}</div>
      <div class="resource-label item-name-header grid-span-2">{{localize "KNAVE2E.Proficiency"}}</div>
      <div class="resource-label item-name-header grid-span-1">{{localize "KNAVE2E.StaminaCost"}}</div>
      <div class="resource-label item-name-header grid-span-1">{{localize "KNAVE2E.Essence"}}</div>
      <div class="resource-label item-controls-header grid-span-2">
        <a class="item-control item-create" title="Create spell" data-type="spell">
          <i class="fas fa-plus"></i> {{localize "KNAVE2E.AddSpell"}}
        </a>
      </div>
    </li>
    
    {{! Filter items to only show spells }}
    {{#each spells as |item id|}}
    <li class="knave-item grid grid-12col {{#if item.system.isCast}}cast{{/if}}" data-item-id="{{item._id}}">
      <div class="item-image">
        <a class="item-image item-name grid-span-1">
          <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        </a>
      </div>

      <a class="item-name detail grid-span-4">{{item.name}}</a>
      
      <div class="item-tier grid-span-1 item-prop">{{item.system.tier}}</div>
      
      <div class="item-proficiency grid-span-2 item-prop">
        {{#if (eq item.system.proficiency "experimental")}}
          Experimental
        {{else if (eq item.system.proficiency "proficient")}}
          Proficient
        {{else if (eq item.system.proficiency "expert")}}
          Expert
        {{/if}}
      </div>
      
      <div class="item-stamina grid-span-1 item-prop">{{item.system.staminaCost}}</div>
      
      <div class="item-essence grid-span-1 item-prop">{{item.system.essence}}</div>
      
      <div class="item-controls grid-span-2">
        <a class="item-button cast-spell" data-action="cast-spell" title={{localize "KNAVE2E.CastSpellDetail"}}>
          <i class="fas fa-magic"></i>
        </a>
        <a class="item-control item-edit" title="Edit Spell"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Spell"><i class="fas fa-trash"></i></a>
      </div>
    </li>
    {{/each}}
  </ol>
</section>