<form class="{{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header">
    <div class="item-header-grid">

      {{!-- Item Image --}}
      <div class="item-header-img">
        <img
          class="profile-img"
          src="{{item.img}}"
          data-edit="img"
          title="{{item.name}}"
        />
      </div>

      {{!-- Item Info --}}
      <div class="item-info-grid">
        <div class="item-header-name">
          <input
            type="text"
            name="name"
            value="{{item.name}}"
            data-dtype="String"
          />
        </div>
        <div class="item-header-info">
          <div class="flexrow flex-group-center">
            <div class="flexrow flex-group-center">
              <div class="resource-label">{{localize "KNAVE2E.Slots"}}</div>
              <input
                type="text"
                name="system.slots"
                value="{{system.slots}}"
                data-dtype="Number"
              />
            </div>
            <div class="flexrow flex-group-center">
              <div class="resource-label">{{localize "KNAVE2E.Cost"}}</div>
              <input
                type="text"
                name="system.cost"
                value="{{system.cost}}"
                data-dtype="Number"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    <div class="item-body-grid">

      {{!-- Item Aside --}}
      <div class="item-body-aside">
        <div class="flexrow flex-group-left flex-between">
          <div class="resource-label aside">{{localize "KNAVE2E.Tier"}}</div>
          <select name="system.tier">
            <option value="0" {{#if (eq system.tier 0)}}selected{{/if}}>Tier 0</option>
            <option value="1" {{#if (eq system.tier 1)}}selected{{/if}}>Tier 1</option>
            <option value="2" {{#if (eq system.tier 2)}}selected{{/if}}>Tier 2</option>
            <option value="3" {{#if (eq system.tier 3)}}selected{{/if}}>Tier 3</option>
          </select>
        </div>
        
        <div class="flexrow flex-group-left flex-between">
          <div class="resource-label aside">{{localize "KNAVE2E.Proficiency"}}</div>
          <select name="system.proficiency">
            <option value="experimental" {{#if (eq system.proficiency "experimental")}}selected{{/if}}>Experimental</option>
            <option value="proficient" {{#if (eq system.proficiency "proficient")}}selected{{/if}}>Proficient</option>
            <option value="expert" {{#if (eq system.proficiency "expert")}}selected{{/if}}>Expert</option>
          </select>
        </div>
        
        <div class="flexrow flex-group-left flex-between">
          <div class="resource-label aside">{{localize "KNAVE2E.StaminaCost"}}</div>
          <input
            type="text"
            name="system.staminaCost"
            value="{{system.staminaCost}}"
            data-dtype="Number"
          />
        </div>
        
        <div class="flexrow flex-group-left flex-between">
          <div class="resource-label aside">{{localize "KNAVE2E.Essence"}}</div>
          <input
            type="text"
            name="system.essence"
            value="{{system.essence}}"
            data-dtype="String"
          />
        </div>
        
        <hr class="separator" />
        
        <div class="flexrow flex-group-left flex-between">
          <div class="resource-label aside">{{localize "KNAVE2E.Cast"}}</div>
          <input type="checkbox" name="system.isCast" {{checked system.isCast}} />
        </div>
      </div>

      {{!-- Item Description --}}
      <div class="item-body-description">
        <div class="resource-label">{{localize "KNAVE2E.Description"}}</div>
        <section class="editor">
          {{editor
            system.enrichedHTML
            target="system.description"
            button=true
            owner=owner
            editable=editable
          }}
        </section>
      </div>
    </div>
  </section>
</form>